#bg {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#heading {
	text-align: center;
}

table, td, th {
	border: 1px solid black;
}

td , th{
	text-align: center;
	width: 100px;
}